@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff"), url("/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/fonts/OpenSans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-LightItalic.woff") format("woff"), url("/fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff"), url("/fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("/fonts/Roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-MediumItalic.woff") format("woff"), url("/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Italic.woff") format("woff"), url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("/fonts/Roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-BoldItalic.woff") format("woff"), url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("/fonts/Roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-ThinItalic.woff") format("woff"), url("/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("/fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Black.woff") format("woff"), url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("/fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Light.woff") format("woff"), url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("/fonts/Roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-LightItalic.woff") format("woff"), url("/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("/fonts/Roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-BlackItalic.woff") format("woff"), url("/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("/fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Thin.woff") format("woff"), url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("/fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:active {
    text-decoration: none; }

html {
  font-size: 100%;
  overflow-x: hidden; }

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: normal;
  color: #000;
  font-size: 1.15rem;
  line-height: 1.2; }

input, textarea {
  outline: none; }

.page__block {
  max-width: 1600px;
  margin: 0 auto; }
  .page__block--footer {
    width: 100%;
    max-width: 100%; }

.text--white {
  color: #fff; }
.text--purple {
  color: #8c84f9; }
.text--error {
  color: red; }

.pseudo-elements {
  position: relative;
  max-width: 1380px;
  margin: 0 auto; }
  .pseudo-elements__bags {
    height: 0px; }
    .pseudo-elements__bags--layer-first::before {
      content: "";
      position: absolute;
      top: 430px;
      left: -45px;
      display: inline-block;
      background-image: url("/images/circle_normal.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 117px;
      height: 95px; }
    .pseudo-elements__bags--layer-first::after {
      content: "";
      position: absolute;
      top: 510px;
      right: -30px;
      display: inline-block;
      background-image: url("/images/square.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 58px;
      height: 44px;
      z-index: 2; }
    .pseudo-elements__bags--layer-second::before {
      content: "";
      position: absolute;
      bottom: 125px;
      left: -37px;
      opacity: 0.5;
      display: inline-block;
      background-image: url(/images/triangle_normal.png);
      background-position: center;
      background-repeat: no-repeat;
      width: 60px;
      height: 45px;
      z-index: 2; }
    .pseudo-elements__bags--layer-second::after {
      content: "";
      position: absolute;
      bottom: 215px;
      right: -40px;
      display: inline-block;
      background-image: url("/images/square_big.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 88px;
      height: 88px; }
  .pseudo-elements__watches--layer-first::after {
    content: "";
    position: absolute;
    top: 480px;
    right: -26px;
    display: inline-block;
    background-image: url("/images/square.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    z-index: 2; }
  .pseudo-elements__watches--layer-first::before {
    content: "";
    position: absolute;
    bottom: 400px;
    left: -37px;
    display: inline-block;
    background-image: url(/images/triangle_normal.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 45px;
    z-index: 2; }

/*-------------------------MAIN BLOCK---------------------------------*/
.main {
  max-width: 1600px;
  height: 1050px;
  margin: 0 auto;
  background-image: url("/images/mainPhoto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1; }
  .main__body {
    text-align: right;
    margin-top: 185px; }

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding-top: 81px;
  margin: 0 auto; }
  .header__logo {
    height: 38px; }
  .header__menu {
    min-width: 370px;
    background-color: #fff;
    font-size: 18px;
    padding: 0 30px;
    -webkit-box-shadow: 0px 11px 56px -13px #b29df1;
    -moz-box-shadow: 0px 11px 56px -13px #b29df1;
    box-shadow: 0px 11px 56px -13px #b29df1; }
    .header__menu::after {
      content: "";
      display: inline-block;
      height: 35px;
      width: 1px;
      position: absolute;
      top: 15px;
      right: 51%;
      background-color: #E0E0E0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 15px;
  height: 65px;
  border-radius: 33px; }
  .menu__item {
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px; }
    .menu__item--search {
      background-image: url("/images/lens.png");
      background-position: center left;
      background-size: "25px";
      background-repeat: no-repeat;
      padding-left: 40px; }
    .menu__item--active {
      font-size: 20px;
      color: #b394fa;
      text-shadow: 0px 9px 5px rgba(179, 148, 250, 0.85); }
  .menu__chevron {
    padding-left: 20px;
    font-size: 17px; }

.action {
  width: 730px;
  display: inline-block;
  text-align: left;
  font-family: 'Roboto'; }
  .action__headline {
    font-size: 115px;
    font-weight: bold;
    line-height: 1.05;
    color: #000; }
  .action__text {
    display: inline-block;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 17px; }
    .action__text--sale {
      padding-right: 13px;
      color: #FBF934; }

.button {
  display: block;
  width: 202px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer; }
  .button--action {
    background-color: #fff;
    font-size: 21px;
    font-weight: 500;
    color: #000000;
    margin-top: 85px;
    margin-left: 5px;
    position: relative; }
    .button--action::before {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 30px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-box-shadow: -9px 12px 26px -4px #dcf0f7;
      -moz-box-shadow: -9px 12px 26px -4px #dcf0f7;
      box-shadow: -9px 12px 26px -4px #dcf0f7;
      mix-blend-mode: multiply; }
  .button__long-arrow {
    color: #7048E2;
    padding-left: 17px;
    font-size: 18px; }

/*-------------------------MAIN BLOCK---------------------------------*/
/*-------------------------CATALOG---------------------------------*/
.catalog {
  background-color: #fff;
  max-width: 1380px;
  margin: 0 auto;
  position: relative; }
  .catalog::before {
    content: "";
    position: absolute;
    top: 67px;
    right: 520px;
    display: inline-block;
    width: 5px;
    height: 103px;
    background-color: #dcfedb;
    transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg); }
  .catalog--watches {
    position: relative;
    bottom: -75px; }
    .catalog--watches::before {
      background-color: #fcffae; }
  .catalog__container {
    -webkit-box-shadow: 0px 0px 22px 13px #f7f7fe;
    -moz-box-shadow: 0px 0px 22px 13px #f7f7fe;
    box-shadow: 0px 0px 22px 13px #f7f7fe;
    mix-blend-mode: multiply; }
    .catalog__container::before {
      content: "";
      position: absolute;
      top: 120px;
      left: 265px;
      display: inline-block;
      background-image: url("/images/triangle.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 75px;
      height: 56px; }
    .catalog__container--bags {
      z-index: 2;
      margin: -35px auto 0 auto;
      padding: 0 135px 90px 135px;
      position: relative; }
      .catalog__container--bags::after {
        content: "";
        position: absolute;
        top: 60px;
        right: 135px;
        display: inline-block;
        background-image: url("/images/line.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 33px;
        height: 60px; }
    .catalog__container--watches {
      padding: 0 135px 20px 135px; }
  .catalog__headline {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 85px 0;
    position: relative; }
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative; }
  .catalog__item {
    width: 33.3%; }
  .catalog__menu {
    position: relative;
    justify-content: space-around;
    padding: 0 120px;
    -webkit-box-shadow: 0px 0px 18px 13px #f7f7f8;
    -moz-box-shadow: 0px 0px 18px 13px #f7f7f8;
    box-shadow: 0px 0px 18px 13px #f7f7f8;
    margin-bottom: 45px; }
    .catalog__menu--pseudo::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0px;
      display: inline-block;
      background-image: url("/images/circle.png");
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      width: 55px;
      height: 33px; }

.product {
  text-align: center;
  padding: 20px 20px 0 20px;
  position: relative;
  margin-bottom: 50px; }
  .product__image {
    height: 260px; }
    .product__image img {
      height: 100%; }
  .product__name {
    color: #777777;
    font-size: 18px;
    padding: 25px 0 10px 0; }
  .product__price {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 70px; }
  .product__button {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: none;
    background: #8c84f9;
    background: -moz-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #8c84f9), color-stop(31%, #8c84f9), color-stop(64%, #a165f4), color-stop(100%, #a165f4));
    background: -webkit-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -o-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -ms-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%); }
  .product:hover {
    -webkit-box-shadow: 0px 0px 30px 9px #f1f1f2;
    -moz-box-shadow: 0px 0px 30px 9px #f1f1f2;
    box-shadow: 0px 0px 30px 9px #f1f1f2; }
    .product:hover .product__price {
      color: #8c84f9; }
    .product:hover .product__button {
      display: block; }
    .product:hover .product-static {
      visibility: visible; }

.product-static {
  display: flex;
  justify-content: space-between;
  visibility: hidden; }
  .product-static__item {
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 14px;
    cursor: pointer;
    color: #bbbbbb; }
    .product-static__item--like {
      background-image: url("/images/like.png"); }
    .product-static__item--comment {
      background-image: url("/images/comment.png"); }

/*-------------------------CATALOG---------------------------------*/
/*-------------------------INFORMATION---------------------------------*/
.inform {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1380px;
  margin: 0 auto;
  padding: 25px 105px 0 105px;
  position: relative; }
  .inform--pseudo::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 74px;
    display: inline-block;
    background-image: url("/images/triangle_bold.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 83px;
    height: 66px; }
  .inform__headline {
    font-size: 50px;
    font-weight: bold; }
  .inform__description {
    font-size: 25px;
    line-height: 34px;
    padding: 18px 0 18px 6px; }
  .inform__text {
    color: #888888;
    font-size: 16px;
    line-height: 23px;
    padding: 18px 0 18px 6px; }
  .inform__container {
    position: relative; }
    .inform__container--headline-line::after {
      content: "";
      position: absolute;
      top: -22px;
      right: 245px;
      display: inline-block;
      width: 5px;
      height: 100px;
      background-color: #dbffff;
      transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      z-index: -1; }
    .inform__container--text {
      width: 44%; }
    .inform__container--photo {
      width: 56%;
      background-image: url("/images/iphone.png");
      height: 805px;
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat; }
    .inform__container--pseudo::after {
      content: "";
      position: absolute;
      bottom: 300px;
      right: 0px;
      display: inline-block;
      background-image: url("/images/line.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 33px;
      height: 60px; }

/*-------------------------INFORMATION---------------------------------*/
.subscription {
  width: 100%;
  text-align: center;
  padding: 140px 0 122px 0;
  background: #8c84f9;
  background: -moz-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #8c84f9), color-stop(31%, #8c84f9), color-stop(64%, #a165f4), color-stop(100%, #a165f4));
  background: -webkit-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
  background: -o-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
  background: -ms-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
  background: linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
  background-position: center;
  background-repeat: no-repeat; }
  .subscription__wrapper {
    display: inline-block;
    max-width: 980px;
    width: 100%; }
  .subscription__headline {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    height: 108px;
    line-height: 108px;
    background-image: url(/images/get.png);
    background-position: center;
    background-repeat: no-repeat; }
  .subscription__form {
    width: 85%;
    margin: 0 auto; }

.subscription-form {
  margin-top: 45px; }
  .subscription-form__wrapper {
    width: 100%;
    position: relative;
    display: inline-block; }
  .subscription-form__input {
    border: none;
    font-size: 20px; }
    .subscription-form__input.placeholder {
      color: #333333;
      opacity: 1; }
    .subscription-form__input:-moz-placeholder {
      color: #333333;
      opacity: 1; }
    .subscription-form__input::-moz-placeholder {
      color: #333333;
      opacity: 1; }
    .subscription-form__input:-ms-input-placeholder {
      color: #333333;
      opacity: 1; }
    .subscription-form__input::-webkit-input-placeholder {
      color: #333333;
      opacity: 1; }
    .subscription-form__input--text {
      width: 100%;
      height: 70px;
      border-radius: 34px;
      padding-left: 25px; }
    .subscription-form__input--submit {
      color: #fff;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      cursor: pointer;
      background: #8c84f9;
      background: -moz-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #8c84f9), color-stop(31%, #8c84f9), color-stop(64%, #a165f4), color-stop(100%, #a165f4));
      background: -webkit-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
      background: -o-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
      background: -ms-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
      background: linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%); }

.footer__wrapper {
  text-align: center;
  padding: 50px 0;
  width: 528px;
  margin: 0 auto; }
.footer__headline {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  padding: 20px 0; }
.footer__menu {
  margin: 10px auto 55px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center; }

.socials__item {
  width: 53px;
  height: 53px;
  border: 2px solid #ecebed;
  border-radius: 27px;
  font-size: 23px;
  line-height: 49px;
  margin: 0 15px;
  cursor: pointer; }
  .socials__item:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 20px 8px #ecebed;
    -moz-box-shadow: 0px 0px 20px 8px #ecebed;
    box-shadow: 0px 0px 20px 8px #ecebed;
    background: #8c84f9;
    background: -moz-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #8c84f9), color-stop(31%, #8c84f9), color-stop(64%, #a165f4), color-stop(100%, #a165f4));
    background: -webkit-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -o-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: -ms-linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%);
    background: linear-gradient(45deg, #8c84f9 0%, #8c84f9 31%, #a165f4 64%, #a165f4 100%); }

.copyright {
  font-family: 'Montserrat';
  padding: 27px 0;
  text-align: center;
  color: #777777;
  font-size: 15px;
  font-weight: 300;
  background-color: #f6f5f7; }

/*# sourceMappingURL=style.css.map */
